[Unit]
Description=JupyterLab IDE Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a jlab-tf
ExecStop=/usr/bin/docker stop -t 2 jlab-tf

[Install]
WantedBy=local.target
